* {
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #eaeaec;
  color: #333;
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between; /* Align logo and links properly */
  align-items: center;
  padding: 15px 30px;
  background-color: rgb(227, 227, 217);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: flex;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

nav .logo-container {
  display: flex;
  align-items: center;
}

nav .logo {
  width: 300px; /* Adjust size as needed */
  height: auto;
}

nav a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
  margin-left: 100px; /* Add spacing between links */
}

nav a:hover {
  color: #3bd198; /* Hover effect for links */
}

